<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phone Number Verification</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Verify Your Phone Number</h1>
  <p>Please enter your phone number to receive a one-time password (OTP) for verification.</p>
  <form action="/otp_send" method="POST">
    <label for="phone_number">Phone Number:</label>
    <input type="tel" id="phone_number" name="phone_number" placeholder="Enter phone number" required>
    <br>
    <button type="submit">Send OTP</button>
  </form>
  <div id="otp-verification" >
    <h1>Verify Your OTP</h1>
    <p>A one-time password (OTP) has been sent to your phone number. Please enter the code below to proceed.</p>
    <form action="{{ url_for('verify', otp=otp) }}" method="POST">
      <label for="otp">OTP:</label>
      <input type="text" id="otp" name="otp" maxlength="6" required>
      <br>
      <button type="submit">Verify</button>
    </form>
    {% if msg != "" %}
        <p>{{ msg }}</p>
    {% endif %}
    <p>Didn't receive the code? <a href="#">Resend OTP</a></p>
  </div>
</body>
</html>

